/*
selector { propriedade : valor ;
}
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body{/*boddy e uma tag que represnta o fundo */
    background-color: #800000;/* muda cor */
    font-family: Arial;/*muda a fonte*/
}

#col1{/*tag que seleciona a coluna 1*/
    background-color: #800000;
    width: 436px; /*largura*/
    text-align: center; /*centraliza o texto não funciona para tudo */
    padding-top: 10px; /*pode juntar todos os padding (espaço de dentro) no sentido horario*/
    padding-bottom: 38px;
    padding-left: 38px;
    padding-right: 38px;
    box-shadow: 4px 8px 8px 4px rgba(8,0,0,0.9) ;
}
.titulo{/* seletor de classe */
    font-size: 32px; /*espessura da fonte */
    margin-top: 14px ;/**/
    margin-bottom: 12px ;/*espessura de margem */
    font-weight: bolder;/*peso da fonte*/
    font-family: 'Trebuchet MS';
    color: white;
}
.text{
    font-size: 18px;
    font-weight: lighter;
    color: white;

}
.pedido{
    margin-top: 32px;
    text-align: left;
    color: white;
}
.rotulo{
    font:16px;;
    font-weight: bold;
    display: block;/**/
    margin-bottom: 8px;

}
.campo-texto{
    width: 100%;
    font-size: 16px;
    color:#434343;
    padding: 7px 13px;/*agrupa os valores baixo/cima*/
    margin-bottom: 16px;
    border: 1px solid #ced4da;/*bexpessura da borda*/ /*dotted linha pontilhada*/
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(8,0,0,0.9) ;
}
.botao-reservar{
    width: 100%;
    background-color: #800000;
    color: white;
    line-height: 150% ;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 16px;
    box-shadow: 0px 4px 4px 0px rgba(8,0,0,0.9) ;

}
#col2{
    width: 700px;
   margin-right: 39px;
   
}
.oferta{
    font-size: 36px;
    font-weight: bold;
    color: white;
    font-family: 'Trebuchet MS';
}
.destaque{
    color:#FBA518 ;
}
.texto-oferta{
    font-size: 18px;
    margin-top: 10px;
    color: #FBA518;
}
.tudo{
    display: flex;
    align-items: center;/*alinhamento vertical*/
    justify-content: center;/*alinhamento horizontal*/
    height: 100vh;/*na autura da tela viu port tamanho da tela */
}




/*id só representa uma coisa class represnta um conjunto ex titulo virou uma classe */